<div class="padding" ng-controller="SettingsController">

  <super-navbar>
    <super-navbar-title>
      Settings
    </super-navbar-title>
  </super-navbar>

  <h3>Settings</h3>

  <p> Current Server Set at: <b id="SERVER_ADD"><script>SERVER_ADDRESS</script></b></p> 
  <p> Set new server: </p> 
  <input type="text" id="newServer" placeholder="Write new server address..."></input>
  <button id="updateServer">Update Server</button>
  <script>
  $("#updateServer").click(function(){
    localStorage.setItem("SERVER_ADDRESS",$("#newServer").val());
    SERVER_ADDRESS = localStorage.getItem("SERVER_ADDRESS");
    $("#SERVER_ADD").html(SERVER_ADDRESS);
  });
  </script>

</div>
