
  <super-navbar>
    <super-navbar-title>
      Rooms
    </super-navbar-title>
  </super-navbar>

  <div class="padding">


    <button class="item" ng-click="supersonic.ui.drawers.close()"><super-navigate view-id="device-switch-RoomA">Room A</super-navigate></button>
    <button class="item" ng-click="supersonic.ui.drawers.close()">Room B</button>
    <button class="item" ng-click="supersonic.ui.drawers.close()">Room C</button>

    <br>
    <button class="button button-positive button-block" ng-click="supersonic.ui.drawers.close()">
      Close this menu
    </button>

  </div>
